*{
  margin: 0px;
  padding: px;
  box-sizing: border-box;
  color: white;
}

.outterdiv {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bodydiv {
  flex-grow: 1;
  background-color: #535d6adf;
}

